.btn-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding-top: 0.812rem;
  padding-right: 1.875rem;
  padding-bottom: 0.812rem;
  padding-left: 1.875rem;

  min-width: 9.375rem;
  min-height: 3.125rem;

  color: $accentColor;
  background-color: transparent;

  border: 1.5px solid $accentColor;
  border-radius: 3.125rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.16px;

  transition: background-color 250ms $animationCubicBezier, color 250ms $animationCubicBezier;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $accentTextColor;
  }
}
