body {
  color: $mainTextColor;
  font-family: 'DM Sans', sans-serif;
  font-size: 0.937rem; //15px  clamp(18px, 3vw, 30px)
  line-height: 1.733;
}

.wrapper {
  max-width: 120rem; //1920
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 79.812rem; //1277
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// font-family: 'DM Sans', sans-serif;
// font-family: 'Heebo', sans-serif;
// font-family: 'Poppins', sans-serif;

// @media screen and (max-width: 48rem)

//@media screen and (max-width: 20rem) 320px
