body {
  color: $mainTextColor;
  font-family: 'DM Sans', sans-serif;
  font-size: 0.937rem;
  line-height: 1.733;
}

.wrapper {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 79.812rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
