$mainTextColor: #343d48;
$accentTextColor: #0f2137;
$subTitle: #244886;
$bgColor: #1f3e76;

$cardTextColor: #25cb9e;

$bgCardColor: #2f5392;

$linkColor: #25a0ff;

$starColor: #f6c416;

$secondTextColor: #22437d;

$accentColor: #ffffff;

$animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
