.hero {
  padding-top: 5.625rem;
  padding-bottom: 12.875rem;

  @media screen and (max-width: 48rem) {
    padding-top: 4.375rem;
    padding-bottom: 6.25rem;
  }

  @media screen and (max-width: 20rem) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.hero-body {
  display: flex;
}

.hero-content {
  padding-right: 15px;
  flex: 0 0 51%;

  @media screen and(max-width: 44.375rem) {
    flex: 1 1 auto;
    padding-right: 0;
  }

  &__title {
    margin-bottom: 1.875rem;

    font-weight: 700;
    font-size: 5.312rem;
    line-height: 1.176;
    letter-spacing: -2px;

    @media screen and (max-width: 66.25rem) {
      font-size: 2.5rem;
    }
  }

  &__text {
    margin-bottom: 2.375rem;

    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.333;

    @media screen and (max-width: 48rem) {
      margin-bottom: 20px;

      font-size: 1rem;
    }
  }
}

.hero-content__link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.312rem;

  @media screen and (max-width: 25.625rem) {
    gap: 1rem;
  }
}

.hero-content__video {
  display: inline-flex;
  gap: 0.625rem;

  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.16px;
}

.hero-content__svg {
  width: 1.562rem;
  height: 1.562rem;
}

.sponsor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: 66.25rem) {
    row-gap: 30px;
  }

  &__text {
    margin-right: 1.312rem;

    font-size: 1rem;
    line-height: 2.625;

    opacity: 0.6;

    @media screen and(max-width: 44.375rem) {
      margin-right: 1rem;
    }
  }

  &__img {
    max-width: 100%;

    &:not(:last-child) {
      margin-right: 1.75rem;

      @media screen and(max-width: 44.375rem) {
        margin-right: 1rem;
      }
    }
  }
}

.hero-images__imgs {
  flex: 1 1 49%;

  @media screen and(max-width: 44.375rem) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;

    top: 17%;
    left: 70%;
    width: 23.649%;
    padding-top: 27.094%;
    background-image: url('../images/hero-decor.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.hero-images__img {
  position: relative;
  max-width: 100%;
  z-index: 3;
}
