.pricing {
  margin-bottom: rem(127);

  padding-top: rem(60);
  padding-bottom: rem(100);

  background-image: url(../images/works-bg.png),
    linear-gradient(105.18deg, #1e3c72 -2.04%, #2a5298 107.42%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pricing-info {
  margin-bottom: rem(80);
  text-align: center;
}

.pricing-content {
  display: flex;
  column-gap: rem(30);
  padding-right: 130px;
  padding-left: 130px;

  @media screen and (max-width: rem(1286)) {
    padding-right: 0;
    padding-left: 0;
    justify-content: space-around;
  }

  @media screen and (max-width: rem(1026)) {
    flex-wrap: wrap;
    row-gap: rem(30);
  }
}

.pricing-card {
  padding-top: rem(40);
  padding-right: rem(70);
  padding-bottom: rem(50);
  padding-left: rem(70);
  color: $accentColor;
  background-color: $bgCardColor;
  border-radius: 10px;

  &:nth-child(even) {
    color: $mainTextColor;
    background-color: $accentColor;
  }

  @media screen and (max-width: rem(1286)) {
    flex-basis: 480px;
  }

  @media screen and (max-width: rem(518)) {
    padding-right: rem(20);
    padding-left: rem(20);
  }

  &__info {
    margin-bottom: rem(57);
  }

  &__title {
    margin-bottom: rem(7);

    font-weight: 700;
    font-size: rem(22);
    line-height: 1.318;
    letter-spacing: -0.55px;

    &--rigt {
      margin-left: rem(147);

      color: $mainTextColor;

      font-size: rem(16);
      line-height: 1.75;

      @media screen and (max-width: rem(417)) {
        margin-left: rem(10);
      }
    }
  }

  &__subtitle {
    font-size: rem(16);
    line-height: 1.625;
    opacity: 0.7;

    &--rigt {
      margin-left: rem(59);

      color: $cardTextColor;

      font-weight: 700;
      font-size: rem(26);
      line-height: 1.307;
      letter-spacing: -0.55px;
    }
  }

  &__list {
    margin-bottom: rem(70);
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__img {
    margin-right: rem(14);
  }

  &__text {
    font-size: rem(16);
    line-height: 1.625;
  }
  .text--opacity {
    opacity: 0.55;
  }

  &__btn {
    text-align: center;
  }
}
